<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ol>
      <%lista.forEach(function(lista){%>
            <li><%= lista %></li>
      <% }) %>
    </ol>
  </body>
</html>
